* {
  margin: 0;
  padding: 0;
}

nav {
  padding: 20px;
  background-color: #888;
  height: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
}

ul {
  float:left;
  background-color: #888;
}

li {
  display:inline;
  padding-top: 30px;
  font-size: 20px;
  padding-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #888;
}

a {
  text-decoration: none;
  color: lightgray;
}

a:hover{
  color: rgb(246, 246, 246);
}

.projects-main{
  min-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: red;
  height: 80vh;
  width:80%;
  padding: 50px;
}

#project-window {
  width: 300px;
  height: 300px;
  background-color: blue;
  margin: 50px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  margin: 20px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
}

.gallery-collection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

#projects{
  margin-top: 50px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc {
  height:80px;
}

/* Header */
#name-header{
  background-color:black ;
  color: red;
  display:grid;
  margin-left: 100px;
  margin-top: 50px;
  align-items: center;
  position: relative;
}

#name-header:hover{
  color: white;
}

/* Image Container */
.image{
  height: 800px;
  width: 50%;
  float: right;
}

/* Image */
#headshot{
  height: 473px;
  width: 348px;
  margin-top: 80px;
  float: left;
  margin-left: 90px;
  
}

/* Text */
.main-text-index {
  position: relative;
  width: 30%;
  float: right;
  margin-top: 200px;
  font-size: 30px;
  margin-right: -140px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resume-main {
  display: flex;
  width: 100%;
  height: 40vh;
  justify-content: center;
  margin-top: 300px;
}

#resume{
  font-size: 40px;
  text-decoration: none;
  background-color: black;
}

#daniel{
  color: red;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  width: 220px;
}

#daniel:hover {
  color: white;
}

.contact{
  display: flex;
  width: 60vh;
  height: 60vh;
  align-items: center;
  margin-left: 500px;
  font-size: 40px;
}